
html{height: 100%;}
body{height: 100%; background-color: #15273a;}
section{box-sizing:border-box;}
section ul li{list-style: none; float:left; width:50%; padding:8px;}
section ul li img{height:225px; width:158px;}


.mh{min-height:50%;}

#guitar{text-align:center;}
#ukulele{text-align:center;}
#sketch-div{text-align:center;}

#gs1{width: 6px; height:650px; }
#gs2{width: 7px; height:650px; }
#gs3{width: 8px; height:650px; }
#gs4{width: 9px; height:650px; }
#gs5{width: 10px; height:650px; }
#gs6{width: 11px; height:650px; }

#us1{width: 6px; height:650px; background: blue;}
#us2{width: 8px; height:650px; background: blue;}
#us3{width: 10px; height:650px; background: blue;}
#us4{width: 12px; height:650px; background: blue;}


@media (min-width: 768px) {

section{max-width: 768px; border-color: yellow;}
section ul li{list-style: none; float:left; width:33%;}
section ul li img{padding:35px;height:400px; width:285px;}
}
